$theme-colors: (
    primary: black,
    "info": tomato,
    "danger": teal,
    "pink": #9e007e,
);

@import "~bootstrap/scss/bootstrap";

#root, body, html {
    width: 100%;
    height: 100%;
    overflow: overlay;
    position: relative;
}

.orange{ color: orange;}
.sea-blue{ color: #407ec9;}
.khaki{ color: #8c9547;}
.purple{ color: #68478d;}
.blueish-green{ color: #007a93;}

.page-wrapper{
    background: white;
    max-width: 1260px;
}

.jumbotron{
    padding: 0px;
}

.modal.show{
    padding: 0px;
}

.modal-dialog.modal-100w{max-width: 100%;}
.modal-dialog.mt-0{ padding-top: 0px;}
.modal-header{ width: 100%; border: 0px;}
.modal-footer{ width: 100%; border: 0px;}
.modal-title{ width: 100%; text-align: center;}

// helpers
.img-responsive{
    max-width: 100%;
}

.padding-0{
    padding: 0px;
}

.full-width{
    width:100%;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px){
    .hidden-xs{display: none;}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px){
    .hidden-sm{display: none;}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px){
    .hidden-md{display: none;}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px){
    .hidden-lg{display: none;}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px){
    .hidden-xl{display: none;}
}
