$theme-colors: (
    primary: black,
    "info": tomato,
    "danger": teal
);

@import "~bootstrap/scss/bootstrap";

.page-wrapper{
    background: white;

}

.jumbotron{
    padding: 0px;
}

// helpers
.img-responsive{
    max-width: 100%;
}

.padding-0{
    padding: 0px;
}