@font-face {
	font-family: 'MuseoSans-700';
	src: url('./fonts/34B065_0_0.eot');
	src: url('./fonts/34B065_0_0.eot?#iefix') format('embedded-opentype'), url('./fonts/34B065_0_0.woff2') format('woff2'), url('./fonts/34B065_0_0.woff') format('woff'), url('./fonts/34B065_0_0.ttf') format('truetype')
}

@font-face {
	font-family: 'MuseoSans-300';
	src: url('./fonts/34B065_1_0.eot');
	src: url('./fonts/34B065_1_0.eot?#iefix') format('embedded-opentype'), url('./fonts/34B065_1_0.woff2') format('woff2'), url('./fonts/34B065_1_0.woff') format('woff'), url('./fonts/34B065_1_0.ttf') format('truetype')
}

@font-face {
	font-family: 'MuseoSans-500';
	src: url('./fonts/34B065_2_0.eot');
	src: url('./fonts/34B065_2_0.eot?#iefix') format('embedded-opentype'), url('./fonts/34B065_2_0.woff2') format('woff2'), url('./fonts/34B065_2_0.woff') format('woff'), url('./fonts/34B065_2_0.ttf') format('truetype')
}

@font-face {
	font-family: 'MuseoSans-700Italic';
	src: url('./fonts/34B065_3_0.eot');
	src: url('./fonts/34B065_3_0.eot?#iefix') format('embedded-opentype'), url('./fonts/34B065_3_0.woff2') format('woff2'), url('./fonts/34B065_3_0.woff') format('woff'), url('./fonts/34B065_3_0.ttf') format('truetype')
}

@font-face {
	font-family: 'MuseoSans-300Italic';
	src: url('./fonts/34B065_4_0.eot');
	src: url('./fonts/34B065_4_0.eot?#iefix') format('embedded-opentype'), url('./fonts/34B065_4_0.woff2') format('woff2'), url('./fonts/34B065_4_0.woff') format('woff'), url('./fonts/34B065_4_0.ttf') format('truetype')
}

@font-face {
	font-family: 'MuseoSans-500Italic';
	src: url('./fonts/34B065_5_0.eot');
	src: url('./fonts/34B065_5_0.eot?#iefix') format('embedded-opentype'), url('./fonts/34B065_5_0.woff2') format('woff2'), url('./fonts/34B065_5_0.woff') format('woff'), url('./fonts/34B065_5_0.ttf') format('truetype')
}

@font-face {
	font-family: 'MuseoSlab-100';
	src: url('./fonts/34B065_6_0.eot');
	src: url('./fonts/34B065_6_0.eot?#iefix') format('embedded-opentype'), url('./fonts/34B065_6_0.woff2') format('woff2'), url('./fonts/34B065_6_0.woff') format('woff'), url('./fonts/34B065_6_0.ttf') format('truetype')
}

@font-face {
	font-family: 'MuseoSlab-700';
	src: url('./fonts/34B065_7_0.eot');
	src: url('./fonts/34B065_7_0.eot?#iefix') format('embedded-opentype'), url('./fonts/34B065_7_0.woff2') format('woff2'), url('./fonts/34B065_7_0.woff') format('woff'), url('./fonts/34B065_7_0.ttf') format('truetype')
}

@font-face {
	font-family: 'MuseoSlab-900';
	src: url('./fonts/34B065_8_0.eot');
	src: url('./fonts/34B065_8_0.eot?#iefix') format('embedded-opentype'), url('./fonts/34B065_8_0.woff2') format('woff2'), url('./fonts/34B065_8_0.woff') format('woff'), url('./fonts/34B065_8_0.ttf') format('truetype')
}

@font-face {
	font-family: 'MuseoSlab-300';
	src: url('./fonts/34B065_9_0.eot');
	src: url('./fonts/34B065_9_0.eot?#iefix') format('embedded-opentype'), url('./fonts/34B065_9_0.woff2') format('woff2'), url('./fonts/34B065_9_0.woff') format('woff'), url('./fonts/34B065_9_0.ttf') format('truetype')
}

@font-face {
	font-family: 'MuseoSlab-1000';
	src: url('./fonts/34B065_A_0.eot');
	src: url('./fonts/34B065_A_0.eot?#iefix') format('embedded-opentype'), url('./fonts/34B065_A_0.woff2') format('woff2'), url('./fonts/34B065_A_0.woff') format('woff'), url('./fonts/34B065_A_0.ttf') format('truetype')
}

@font-face {
	font-family: 'MuseoSlab-500';
	src: url('./fonts/34B065_B_0.eot');
	src: url('./fonts/34B065_B_0.eot?#iefix') format('embedded-opentype'), url('./fonts/34B065_B_0.woff2') format('woff2'), url('./fonts/34B065_B_0.woff') format('woff'), url('./fonts/34B065_B_0.ttf') format('truetype')
}